<header class="header">
  <div class="logo-title">
    <img src="assets/logo.png" alt="Logo" class="logo" />
    <h1>Shop-E</h1>
  </div>
  <nav class="navbar">
    <a routerLink="/">Home</a>
    <a routerLink="/products">All Products</a>
    <a routerLink="/cart">My Cart</a>
    <a routerLink="/orders">My Orders</a>
    <a routerLink="/about">About Us</a>
    <a routerLink="/contact">Contact Us</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
  </nav>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <p>&copy; 2025 Shop-E. All rights reserved.</p>
</footer>
